/*Fonts*/
/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
}

/* Color-system */

:root {
  /*background colors*/
  --basic-white: #FFFFFF;
  --header-background: #F2F6F8;
  --header-bar-background: #293449;
  --logo-background: #EE3643;
  --logo-bg-shadow: rgba(0, 0, 0, 0.24);
  --telephone-link-bg: #F3F7F9;
  --navigation-background: #32425C;
  --footer-background1: #32425C;
  --navigation-bg-shadow: #293449;
  --basic-white-transparent03: rgba(255, 255, 255, 0.3);
  --basic-white-transparent05: rgba(255, 255, 255, 0.5);
  --basic-black-transparent03: rgba(0, 0, 0, 0.3);
  --bookmarks-font05: rgba(50, 66, 92, 0.5);
  --cart-bg-hover: #5FBB2D;
  --bookmarks-bg-hover: #161D29;
  --catalog-bg-item-yellow: #FFBF47;
  --catalog-bg-item-blue: #3BBCE3;
  --catalog-bg-item-lilac: #DC91D8;
  --catalog-bg-item-green: #8ED78F;
  --catalog-bg-item-yellow: #FFC047;
  --catalog-new-logo-bg: #EE3643;
  --catalog-filters-bg: #F7F3EC;

  --popular-goods-manufactures-background: #F9F5F0;
  --goods-bg-border: #EAEAEA;
  --services-background: #F1F5F7;

  --slider-menu-bg-nonactive: #32425C;
  --slider-menu-bg-nonactive-hover: #293449;
  --footer-background2: #293449;

  /*font colors*/
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --header-address-color: #32425C;
  --after-login-account-color: #32425C;
  --catalog-price-crossed: #A9A9A9;
  --bookmarks-font: #32425C;

  --slider-item-heading-font: #32425C;
  --slider-menu-active: #32425C;

  --popular-goods-manufactures-font: #32425C;
  --services-slider-active-item: #32425C;

  --footer-main-font: #F1F5F7;
  --footer-menu-secondrow-font: #FFD180;
  --footer-address-font: #F1F5F7;

  /*buttons*/
  --basic-green: #63A63E;
  --header-menu-text-on-click: rgba(255, 255, 255, 0.5);
  --navigation-btn-hover: #293449;
  --navigation-btn-click: #1D2739;
  --navigation-btn-action-shadow: #293449;
  --account-buttons-click: #C5C5C5;

  --catalog-bg-item-hover: #C5C5C5;
  --catalog-bg-item-click: #A9A9A9;
  --catalog-filter-show-button-shadow: #E5E5E5;

  --slider-button-bg: #EE3643;
  --slider-button-hover: #CA2C37;
  --slider-button-click: #BA2732;

  --price-tag-button-bg: #EE3643;
  --buy-button-bg: #63A63E;
  --buy-button-bg-shadow: #367315;
  --buy-button-bg-hover: #5FBB2D;
  --buy-button-bg-click: #518534;

  --social-media-bg: linear-gradient(0deg, #212A3A, #212A3A);
  --social-media-bg-hover-click: #EE3643;

  /*special effect*/
  --popular-goods-n-manuf-shadow: rgba(0, 0, 0, 0.15);
  --services-item-shadow1: #293449;
  --services-item-shadow2: #405069;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85em;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/
.main-header {
  background-color: var(--header-background);
  font-family: "Cuprum", Arial, sans-serif;
}
.main-menubar {
  background-color: var(--header-bar-background);
}
.main-header-logo {
}
.main-footer-logo {
}
.search-bar,
.bookmarks-link,
.cart-link,
.confirm-order-link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33em;
}
.confirm-order-link {
  background-color: var(--basic-green);
}
.confirm-order-link:hover,
.confirm-order-link:focus {
  background-color: var(--cart-bg-hover);
}
.bookmarks-link:hover,
.bookmarks-link:focus {
  background-color: var(--bookmarks-bg-hover);
}
.bookmarks-link:active,
.cart-link:active,
.confirm-order-link:active {
  color: var(--basic-white-transparent05);
}
.added-goods-to-cart {
  background-color: var(--basic-red);
}
.main-header-middle-bar-content {
  background-color: transparent;
}
.middle-bar-description {
  font-style: italic;
  font-size: 16px;
  line-height: 1.4375em;
  color: var(--basic-red);
}
.middle-bar-contacts-telephone-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.43em;
  color: var(--basic-red);
  background-color: var(--telephone-link-bg);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}
.middle-bar-contacts-address {
  color: var(--header-address-color);
  font-size: 14px;
  line-height: 1.71em;
}
.login-link,
.register-link,
.account-username,
.account-orders-link,
.account-user-acc-link {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 1em;
}
.login-link:hover,
.login-link:focus,
.register-link:hover,
.register-link:focus,
.account-orders-link:hover,
.account-user-acc-link:hover,
.account-orders-link:focus,
.account-user-acc-link:focus {
  color: var(--basic-red);
}
.login-link:active,
.register-link:active,
.account-orders-link:active,
.account-user-acc-link:active,
.account-username:active {
  color: var(--account-buttons-click);
}
.main-navigation {
  background-color: var(--navigation-background);
  box-shadow: inset 0px -5px 0px #293449;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33em;
}
.site-navigation a:active {
  opacity: 0.5;
}
.site-navigation li:hover,
.site-navigation li:focus {
  background: var(--navigation-btn-hover);
  box-shadow: inset 0px -5px 0px #293449;
}
.site-navigation li:active {
  background: var(--navigation-btn-click);
  box-shadow: inset 0px -5px 0px #293449;
}

/*main*/
/*catalog list*/
.catalog-list {
  list-style: none;
}
.catalog-list-item {
  font-family: "Cuprum", Arial, sans-serif;
}
.catalog-list-item:nth-child(1) {
  background-color: var(--catalog-bg-item-yellow);
}
.catalog-list-item:nth-child(2) {
  background-color: var(--catalog-bg-item-blue);
}
.catalog-list-item:nth-child(3) {
  background-color: var(--catalog-bg-item-lilac);
}
.catalog-list-item:nth-child(5) {
  background-color: var(--catalog-bg-item-green);
}
.catalog-list-item:nth-child(6) {
  background-color: var(--catalog-bg-item-yellow);
}
.catalog-list-item-heading {
  color: var(--basic-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
}
.catalog-button {
  background: var(--basic-white-transparent03);
  mix-blend-mode: normal;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
}
.catalog-button:hover,
.catalog-button:focus{
  background: var(--catalog-bg-item-hover);
}
.catalog-button:active {
  background: var(--catalog-bg-item-click);
}
/*catalog slider*/
.slider-list {
  list-style: none;
}
.catalog-list-item-slider {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
}
.slider-list-item {
  background-color: var(--basic-black);
}

.slider-list-item:nth-child(1) {
  background-image: url(../img/slide_1_bg.png);
  background-repeat: no-repeat;
}
.slider-list-item:nth-child(2) {
  background-image: url(../img/slide_2_bg.png);
  background-repeat: no-repeat;
}
.slider-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
}
.slider-text {
  font-size: 18px;
  line-height: 1.33em;
}
.slider-button-open-catalog,
.popular-goods-all-link,
.popular-manufactures-all-link {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--slider-button-bg);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
}
.slider-button-open-catalog:hover,
.popular-goods-all-link:hover,
.popular-manufactures-all-link:hover,
.slider-button-open-catalog:focus,
.popular-goods-all-link:focus,
.popular-manufactures-all-link:focus {
  background-color: var(--slider-button-hover);
}
.slider-button-open-catalog:active,
.popular-goods-all-link:active,
.popular-manufactures-all-link:active {
  background-color: var(--slider-button-click);
}
/*popular goods*/
.popular-goods-header,
.popular-manufactures-header {
  background-color: var(--popular-goods-manufactures-background);
}
.popular-goods-heading,
.popular-manufactures-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--popular-goods-manufactures-font);
  font-size: 30px;
  line-height: 1em;
}
/*popular-goods-n-manuf-slider*/
.popular-goods-list,
.popular-manufactures-list {
  list-style: none;
}
.popular-goods-item,
.popular-manufactures-item {
  position: relative;
  background-color: var(--basic-white);
  border: 1px solid var(--goods-bg-border);
}
.popular-goods-item-description {
  font-size: 18px;
  line-height: 1.11;
}
.popular-goods-item-old-price {
  color: var(--catalog-price-crossed);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  text-decoration: line-through;
}
.popular-goods-item-price-link {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
}
.popular-goods-bookmarks-button {
  position: absolute;
  left: 50px;
  top: 80px;
  opacity: 0;
  cursor: pointer;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--bookmarks-font);
  font-size: 14px;
  line-height: 1.28em;
}
.popular-goods-buy-button {
  position: absolute;
  left: 50px;
  top: 40px;
  opacity: 0;
  cursor: pointer;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--buy-button-bg);
  box-shadow: inset 0px -3px 0px var(--buy-button-bg-shadow);
  border-radius: 2px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
}
.popular-goods-item:hover,
.popular-manufactures-item:hover,
.popular-goods-item:focus,
.popular-manufactures-item:focus {
  box-sizing: content-box;
  box-shadow: 0px 4px 20px var(--popular-goods-n-manuf-shadow);
}
.popular-goods-item:hover .popular-goods-item-pic,
.popular-goods-item:focus .popular-goods-item-pic {
  opacity: 0;
  transition: opacity .3s
}
.popular-goods-item:hover .popular-goods-buy-button,
.popular-goods-item:focus .popular-goods-buy-button,
.popular-goods-item:hover .popular-goods-bookmarks-button,
.popular-goods-item:focus .popular-goods-bookmarks-button {
  opacity: 1;
  transition: opacity .3s
}
.popular-goods-buy-button:hover,
.popular-goods-buy-button:focus {
  background-color: var(--buy-button-bg-hover);
}
.popular-goods-buy-button:active {
  background-color: var(--buy-button-bg-click);
}

.popular-goods-bookmarks-button:hover,
.popular-goods-bookmarks-button:focus {
  border-color: var(--bookmarks-font);
}
.popular-goods-bookmarks-button:active {
  border-color: var(--bookmarks-font05);
  color: var(--bookmarks-font05);
}
/*services*/
.main-services,
.few-words-about {
  background-color: var(--services-background);
}
.services-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--popular-goods-manufactures-font);
  font-size: 30px;
  line-height: 1em;
}
.services-slider-item-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--slider-item-heading-font);
  font-size: 30px;
  line-height: 1em;
}
.services-list,
.services-slider-list {
  list-style: none;
}

.services-item {
  background-color: var(--slider-menu-bg-nonactive);
  box-shadow:
    0px 1px 0px var(--services-item-shadow1),
    inset 0px 1px 0px var(--services-item-shadow2);
}
.services-item-active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.services-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.428em;
  cursor: pointer;
}
.services-button-active {
  color: var(--services-slider-active-item);
}
.services-item:hover:not(.services-item-active),
.services-item:focus:not(.services-item-active) {
  background-color: var(--slider-menu-bg-nonactive-hover);
}

/*about*/
.about-heading,
.contacts-heading,
.few-words-about-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
}
.about-description-list {
  list-style-image: url();
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33em;
}
.about-company-link,
.contact-us-link {

}
.about-company-link,
.contact-us-link {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--slider-button-bg);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
}
.about-company-link:hover,
.contact-us-link:hover,
.about-company-link:focus,
.contact-us-link:focus {
  background-color: var(--slider-button-hover);
}
.about-company-link:active,
.contact-us-link:active {
  background-color: var(--slider-button-click);
}

/*footer*/
.footer-first-bar {
  background-color: var(--footer-background1);

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33em;
}
.footer-second-bar {
  background-color: var(--footer-background2);
}

.footer-contacts,
.footer-contacts a {
color: var(--footer-address-font);
}
.footer-navigation-first-row-list,
.footer-navigation-second-row-list {
  list-style: none;
}
.footer-navigation-first-row-link {
  color: var(--footer-main-font);
}
.footer-navigation-second-row-link {
  color: var(--footer-menu-secondrow-font);
}
.footer-contacts a:hover,
.footer-navigation-first-row-link:hover,
.footer-contacts a:focus,
.footer-navigation-first-row-link:focus {
  text-decoration: underline;
}
.footer-navigation-second-row-link:hover,
.footer-navigation-second-row-link:focus {
  text-decoration: underline;
}
.footer-contacts a:active,
.footer-navigation-first-row-link:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-navigation-second-row-link:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-second-bar {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125em;
  color: var(--basic-white);
}
.footer-feedback-address,
.footer-developedby-link {
  color: var(--footer-menu-secondrow-font);
}
.footer-feedback-address:hover,
.footer-developedby-link:hover,
.footer-feedback-address:focus,
.footer-developedby-link:focus {
  text-decoration: underline;
}
.footer-feedback-address:active,
.footer-developedby-link:active {
  color: var(--basic-red);
  text-decoration: none;
}
.social-networks-list {
  list-style: none;
}

/*catalog*/
.catalog-nav-breadcrumbs-list {
  list-style-image: url();
}
.catalog-nav-breadcrumbs-item a {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 1.38em;
}
.catalog-main-section {
  background-color: var(--header-background);
}
.section-heading {
  color: var(--bookmarks-font);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
}

/*filters*/
.catalog-window-sortings {
  background-color: var(--catalog-filters-bg);
}
.filters-heading,
.sorting-heading {
  background-color: var(--catalog-filters-bg);
  font-size: 13px;
  line-height: 1.38em;
  font-weight: 400;
}
.filter-type-heading {
  font-size: 17px;
  line-height: 1.76em;
  font-weight: 700;
}
.filter-show-button {
  background-color: var(--basic-white);
  border: none;
  font-size: 13px;
  line-height: 1.38em;
  cursor: pointer;
  border: 1px solid var(--catalog-filter-show-button-shadow);
  box-sizing: border-box;
}
.filter-show-button:hover,
.filter-show-button:focus {
  border: 1px solid var(--catalog-bg-item-hover);
}
.filter-show-button:active {
  border: 1px solid var(--basic-red);
}
.sorting-list {
  list-style: none;
}
.sorting-item a {
  color: var(--basic-black-transparent03);
  font-size: 13px;
  line-height: 1.38em;
  border-bottom: 1px dotted var(--basic-red);

}
.active-sorting a {
  color: var(--basic-red);
  border: none;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sorting-item a:active {
  color: var(--basic-red);
  border-bottom: none;
}
.sorting-button-up,
.sorting-button-down {
  border: none;
  background-color: var(--catalog-bg-item-hover);
}
.sorting-button-up:hover,
.sorting-button-down:hover,
.sorting-button-up:focus,
.sorting-button-down:focus {
  background-color: var(--basic-black);
}
.sorting-button-up:active,
.sorting-button-down:active {
  background-color: var(--basic-red);
}
.page-navigation-list {
  list-style: none;
}
.page-navigation-item {
  background-color: var(--basic-white);
  border: none;
  font-size: 13px;
  line-height: 1.38em;
  cursor: pointer;
  border: 1px solid var(--catalog-filter-show-button-shadow);
  box-sizing: border-box;
  border-radius: 2px;
}
.page-navigation-item a {
  color: var(--basic-black);
}
.page-navigation-item:hover,
.page-navigation-item:focus {
  border: 1px solid var(--catalog-bg-item-hover);
}
.page-navigation-item:active {
  border: 1px solid var(--basic-red);
}
.page-navigation-item-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
