/*Fonts*/
/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'); /* Modern Browsers */
}

/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
}

/* Color-system */

:root {
  /*background colors*/
  --basic-white: #FFFFFF;
  --header-background: #F2F6F8;
  --header-bar-background: #293449;
  --logo-background: #EE3643;
  --logo-bg-shadow: rgba(0, 0, 0, 0.24);
  --telephone-link-bg: #F3F7F9;
  --navigation-background: #32425C;
  --footer-background1: #32425C;
  --navigation-bg-shadow: #293449;
  --basic-white-transparent03: rgba(255, 255, 255, 0.3);
  --basic-white-transparent05: rgba(255, 255, 255, 0.5);
  --basic-black-transparent03: rgba(0, 0, 0, 0.3);
  --bookmarks-font05: rgba(50, 66, 92, 0.5);
  --cart-bg-hover: #5FBB2D;
  --bookmarks-bg-hover: #161D29;
  --catalog-bg-item-yellow: #FFBF47;
  --catalog-bg-item-blue: #3BBCE3;
  --catalog-bg-item-lilac: #DC91D8;
  --catalog-bg-item-green: #8ED78F;
  --catalog-bg-item-yellow: #FFC047;
  --catalog-new-logo-bg: #EE3643;
  --catalog-filters-bg: #F7F3EC;

  --popular-goods-manufactures-background: #F9F5F0;
  --goods-bg-border: #EAEAEA;
  --services-background: #F1F5F7;

  --slider-menu-bg-nonactive: #32425C;
  --slider-menu-bg-nonactive-hover: #293449;
  --slider-heading-bg: rgba(0, 0, 0, 0.25);
  --footer-background2: #293449;

  /*font colors*/
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --header-address-color: #32425C;
  --after-login-account-color: #32425C;
  --catalog-price-crossed: #A9A9A9;
  --bookmarks-font: #32425C;

  --slider-item-heading-font: #32425C;
  --slider-menu-active: #32425C;

  --popular-goods-manufactures-font: #32425C;
  --services-slider-active-item: #32425C;

  --footer-main-font: #F1F5F7;
  --footer-menu-secondrow-font: #FFD180;
  --footer-address-font: #F1F5F7;

  /*buttons*/
  --basic-green: #63A63E;
  --header-menu-text-on-click: rgba(255, 255, 255, 0.5);
  --navigation-btn-hover: #293449;
  --navigation-btn-click: #1D2739;
  --navigation-btn-action-shadow: #293449;
  --account-buttons-click: #C5C5C5;

  --catalog-bg-item-hover: #C5C5C5;
  --catalog-bg-item-click: #A9A9A9;
  --catalog-bg-item-hover03: rgba(197, 197, 197, 0.3);
  --catalog-bg-item-click03: rgba(169, 169, 169, 0.3);
  --catalog-filter-show-button-shadow: #E5E5E5;

  --slider-button-bg: #EE3643;
  --slider-button-hover: #CA2C37;
  --slider-button-click: #BA2732;

  --price-tag-button-bg: #EE3643;
  --buy-button-bg: #63A63E;
  --buy-button-bg-shadow: #367315;
  --buy-button-bg-hover: #5FBB2D;
  --buy-button-bg-click: #518534;

  --social-media-bg: linear-gradient(0deg, #212A3A, #212A3A);
  --social-media-bg-hover-click: #EE3643;

  /*special effect*/
  --popular-goods-n-manuf-shadow: rgba(0, 0, 0, 0.15);
  --services-item-shadow1: #293449;
  --services-item-shadow2: #405069;
  --modal-feedback-footer-bg: #F4F4F4;
  --range-input-scale: #D7DCDE;
  --range-input-scale-active: #00CA74;
  --range-input-toggle-bg: #ABABAB;
  --range-input-toggle-shadow: #CFCFCF;
  --telephone-bg: #B7BFC8;
  --telephone-bg07: rgba(183,	191,	200, 0.7);
  --telephone-bg0: rgba(183,	191,	200, 0);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85em;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*обнуление поведения Chrome и замена фокуса на дизайнерские по макету*/
button:focus,
input:focus,
a:focus {
  outline: none;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
}
/*Grid*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header-grid-menubar {
  display: flex;
  height: 42px;
}
.main-header-middle-bar-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.catalog-list {
  padding-top: 59px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  grid-auto-flow: row;
}
.catalog-list-item-slider {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
}
.slider-list {
  display: flex;
  height: 100%;
}
.slider-navigation-buttons {
  margin-top: -144px;
  margin-right: 20px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-navigation-button.left-nav-but,
.slider-navigation-button.right-nav-but {
  width: 22px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider-navigation-button.right-nav-but {
  transform:rotate(180deg);
}
.slider-navigation-button:hover:not(:disabled),
.slider-navigation-button:focus {
  background-image: url("../img/icon-left-focus.svg");
}
.slider-navigation-button:disabled {
  opacity: 0.4;
  cursor: default;
  background-image: url("../img/icon-left.svg");
}
.slider-navigation-buttons-dots {
  margin-top: 58px;
  margin-left: 295px;
  display: flex;
  grid-gap: 10px;
}
.slider-navigation-button-dot {
  width: 6px;
  height: 6px;
  background-color: var(--basic-white);
  border: solid 2px var(--basic-white);
  border-radius: 50%;
}
.slider-navigation-button-dot.selected-slide {
  background-color: var(--basic-red);
}
.slider-list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-button-open-catalog {
  align-self: flex-start;
}
.popular-goods {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-gap: 20px;
  padding-top: 59px;
}
.popular-goods-header,
.popular-manufactures-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}
.three-column-grid {
  grid-template-columns: repeat(3, 220px);
  grid-column-gap: 20px;
  grid-row-gap: 18px;
}
.popular-manufactures {
  display: grid;
  grid-gap: 20px;
  padding: 70px 0;
}

.popular-manufactures-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}
.popular-manufactures-item {
  height: 145px;
}
.popular-manufactures-item-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-manufactures-item-pic {
  object-fit: scale-down;
}
.services-slider-n-description {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 80px;
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 20px;
  padding-top: 70px;
  padding-bottom: 69px;
}
.page-footer {
  display: grid;
}
.first-bar-grid {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-first-row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  grid-gap: 59px;
  padding-top: 37px;
}
.footer-navigation-second-row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  grid-gap: 59px;
  padding-top: 34px;
}
.second-bar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.catalog-nav-breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-breadcrumbs {
  position: relative;
}
.catalog-nav-breadcrumbs-list::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 0px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
}
.catalog-nav-breadcrumbs-item {
  padding-left: 41px;
  position: relative;
}
.catalog-nav-breadcrumbs-item:first-of-type {
  padding-left: 55px;
}
.catalog-nav-breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 17px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
}
.catalog-nav-breadcrumbs-item:first-of-type::before {
  left: 29px;
}
.main-catalog-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  padding-bottom: 59px;
}
.catalog-main-section {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}
.filters-heading {
  display: flex;
  align-items: center;
}
.catalog-window-sortings {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  grid-gap: 20px;
}

.sorting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sorting-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 70px;
  padding: 6px 0 0 0;
}

.sorting-item-link.by-function-link {
  margin-left: -4px;
}
.sorting-button-up {
  padding-left: 10px;
  margin-right: 21px;
}
.page-navigation-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 9px;
}
.catalog-of-sorted-items {
  padding-top: 28px;
  padding-bottom: 46px;
}
/*header*/
.main-header {
  background-color: var(--header-background);
  font-family: "Cuprum", Arial, sans-serif;
}
.main-menubar {
  background-color: var(--header-bar-background);
}
.main-footer-logo-svg,
.main-header-logo-svg {
  fill: var(--basic-red);
}
.main-footer-logo-svg:active:not(.switched-off-logo),
.main-header-logo-svg:active:not(.switched-off-logo) {
  fill: var(--slider-button-click);
}

.search-bar {
  background-color: var(--header-bar-background);
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
}
.search-bar-label {
  flex-grow: 1;
  display: flex;
}
.search-bar-input,
.bookmarks-link,
.cart-link,
.confirm-order-link {
  background-color: var(--header-bar-background);
  border: none;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33em;
}
.search-bar-input {
  flex-grow: 1;
}
.search-bar-input::placeholder {
  opacity: 1;
  color: var(--basic-white);
}
.bookmarks-link {
  padding: 10px 10px 9px 0;
  flex-basis: 150px;
  text-align: center;
  box-sizing: border-box;
}
.bookmarks-link,
.cart-link,
.confirm-order-link {
  position: relative;
}
.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 6px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmarks-link:hover::before,
.bookmarks-link:focus::before {
  opacity: 1;
}
.bookmarks-link:active::before {
  opacity: 0.3;
}
.cart-link {
  flex-basis: 136px;
  text-align: center;
  padding: 10px 0 9px 8px;
  box-sizing: border-box;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.cart-link:hover::before,
.cart-link:focus::before {
  opacity: 1;
}
.cart-link:active::before {
  opacity: 0.3;
}

.search-bar-button {
  order: -1;
  background-color: var(--header-bar-background);
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: top 12px left 17px;
  opacity: 0.3;
  border: none;
  cursor: pointer;
  padding: 12px 12px 13px 30px;
}
.search-bar:hover .search-bar-button,
.search-bar-button:hover,
.search-bar-button:focus {
  opacity: 1;
}
.search-bar-input:focus,
.search-bar-input:focus::placeholder {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.search-bar-input:focus + .search-bar-button {
  opacity: 1;
  background-color: var(--basic-white);
  background-image: url("../img/icon-search-active.svg");
}
.confirm-order-link {
  background-color: var(--basic-green);
  padding: 10px 16px 9px 19px;
}
.confirm-order-link:hover,
.confirm-order-link:focus {
  background-color: var(--cart-bg-hover);
}
.bookmarks-link:hover,
.bookmarks-link:focus {
  background-color: var(--bookmarks-bg-hover);
}
.bookmarks-link:active,
.cart-link:active,
.confirm-order-link:active {
  color: var(--basic-white-transparent05);
}

.cart-link.added-goods-to-cart {
  background-color: var(--basic-red);
  padding: 10px 0 9px 11px;
}
.bookmarks-link.added-goods-to-bookmarks {
  background-color: var(--basic-red);
}
.main-header-middle-bar-content {
  background-color: transparent;
}
.middle-bar-description {
  width: 205px;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--basic-red);
  margin: 42px 0 44px 30px;
}
.middle-bar-contacts {
  margin-top: 53px;
}
.middle-bar-contacts-telephone-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.43em;
  color: var(--basic-red);
  background-color: var(--telephone-link-bg);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  padding: 7px 43px 8px 71px;
  position: relative;
}
.middle-bar-contacts-telephone-link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.middle-bar-contacts-telephone-link:hover::before,
.middle-bar-contacts-telephone-link:focus::before {
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--telephone-bg);
  /*animation: shake 1s infinite;*/
  animation: pulse-telephone 1s infinite;
}
.middle-bar-contacts-address {
  color: var(--header-address-color);
  font-size: 14px;
  line-height: 1.71em;
  margin-left: 11px;
  margin-top: 11px;
}
.middle-bar-user-account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  grid-gap: 10px;
  margin-top: 46px;
}
.middle-bar-user-account.after-login {
  display: grid;
  grid-template-columns: 134px min-content 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: "a a a logout"
                        "b dot c c";
  grid-gap: 0px;
  grid-row-gap: 7px;
  margin-top: 46px;
}

.login-link,
.register-link,
.account-username {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 1em;
  position: relative;
}
.account-username {
  grid-area: a;
  padding: 12px 0 12px 58px;
}
.account-username::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
}
.account-username:hover::before,
.account-username:focus::before {
  background-image: url("../img/icon-user-hover.svg");
}
.account-username:active::before {
  background-image: url("../img/icon-user.svg");
}
.account-username-logout {
  grid-area: logout;
  content: "";
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: top 14px  right 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  padding: 14px 17px 14px 0;
}
.account-username-logout:hover,
.account-username-logout:focus {
  background-image: url("../img/icon-logout-hover.svg");
}
.account-username-logout:active {
  background-image: url("../img/icon-logout.svg");
}
.register-link {
  padding: 11px 24px;
}
.login-link {
  padding: 11px 27px 12px 45px;
}
.login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 18px;
  width: 20.5px;
  height: 18.5px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}
.login-link:active::before {
  background-image: url("../img/icon-login.svg");
}
.account-orders-link,
.account-user-acc-link {
  color: var(--after-login-account-color);
  font-size: 16px;
  line-height: 1.125em;
}
.account-orders-link {
  grid-area: b;
  text-align: right;
  margin-right: 14px;
}
.account-user-acc-link {
  grid-area: c;
  margin-left: 14px;
}
.account-decorative-dot {
  grid-area: dot;
  display: flex;
  padding-top: 7px;
}
.decorative-dot-svg {
  fill: var(--after-login-account-color);
}

.login-link:hover,
.login-link:focus,
.register-link:hover,
.register-link:focus,
.account-orders-link:hover,
.account-user-acc-link:hover,
.account-orders-link:focus,
.account-user-acc-link:focus {
  color: var(--basic-red);
}
.user-account-links:hover,
.user-account-links:focus {
  color: var(--basic-red);
  fill: var(--basic-red);
}
.user-account-links:active {
  color: var(--account-buttons-click);
  fill: var(--account-buttons-click);
}
.login-link:active,
.register-link:active,
.account-orders-link:active,
.account-user-acc-link:active,
.account-username:active {
  color: var(--account-buttons-click);
}
.main-navigation {
  background-color: var(--navigation-background);
  box-shadow: inset 0px -5px 0px #293449;
  margin-bottom: 60px;
}

.site-navigation-link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33em;
  display: flex;
  height: 100%;
  padding: 17px 28px 20px 28px;
}

.site-navigation-link:hover:not(.disabled-link-in-navigation),
.site-navigation-link:focus:not(.disabled-link-in-navigation) {
  background: var(--navigation-btn-hover);
  box-shadow: inset 0px -5px 0px #293449;
}
.site-navigation-link:active:not(.disabled-link-in-navigation) {
  opacity: 0.5;
  background: var(--navigation-btn-click);
  box-shadow: inset 0px -5px 0px #293449;
}

/*main*/
/*catalog list*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-list-item {
  font-family: "Cuprum", Arial, sans-serif;
  position: relative;
  background-color: var(--basic-black);
}
.catalog-list-item.yellow {
  background-color: var(--catalog-bg-item-yellow);
  background-image: url("../img/icon-1.svg"),
                    url("../img/new-flag.svg");
  background-position: top 31px right 43px,
                        top right;
  background-repeat: no-repeat;
}
.catalog-list-item.blue {
  background-color: var(--catalog-bg-item-blue);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top 34px right 31px;
}
.catalog-list-item.lilac {
  background-color: var(--catalog-bg-item-lilac);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top 31px right 31px;
}
.catalog-list-item.green {
  background-color: var(--catalog-bg-item-green);
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: top 26px right 45px;
}
.catalog-list-item.yellow-two {
  background-color: var(--catalog-bg-item-yellow);
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: top 32px right 31px;
}

.catalog-list-item-heading {
  color: var(--basic-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  margin: 20px 0 14px 23px;
}
.catalog-list-item:nth-child(5) + .catalog-list-item-heading {
  margin-bottom: 0px;
}
.catalog-button {
  display: block;
  background: var(--basic-white-transparent03);
  mix-blend-mode: normal;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
  margin-left: 22px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 21px;
  width: 135px;
}
.catalog-button:hover,
.catalog-button:focus{
  background: var(--catalog-bg-item-hover03);
}
.catalog-button:active {
  background: var(--catalog-bg-item-click03);
}
/*catalog slider*/
.catalog-list-item-slider {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
}
.slider-list-item {
  background-color: var(--basic-black);
}

.slider-list-item:nth-child(1) {
  background-image: url(../img/slide_1_bg.png);
  background-repeat: no-repeat;
}
.slider-list-item:nth-child(2) {
  background-image: url(../img/slide_2_bg.png);
  background-repeat: no-repeat;
}
.slider-list-item.hidden-slide {
  display: none;
}
.slider-header {
  background-color: var(--slider-heading-bg);
}
.slider-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  margin: 23px 0 0 24px;
}
.slider-text {
  font-size: 18px;
  line-height: 1.33em;
  padding: 5px 0 16px 24px;
}

.slider-button-open-catalog,
.popular-goods-all-link,
.popular-manufactures-all-link,
.make-credit-request-link,
.modal-feedback-send-button {
  margin-right: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--slider-button-bg);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.29em;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.slider-button-open-catalog {
  padding: 11px 46px 9px 47px;
  margin-left: 24px;
  margin-bottom: 27px;
}
.popular-goods-all-link {
  margin-top: -1px;
  padding: 11px 24px 9px 24px;
}
.popular-manufactures-all-link {
  padding: 11px 38px 9px 39px;
  margin-right: 19px;
}
.make-credit-request-link {
  padding: 10px 45px;
  margin: 0;
  border-radius: 2px;
}
.modal-feedback-send-button {
  padding: 11px 0px 9px 0px;
  text-align: center;
  flex-grow: 1;
  margin: 0;
  cursor: pointer;
}
.slider-button-open-catalog:hover,
.popular-goods-all-link:hover,
.popular-manufactures-all-link:hover,
.slider-button-open-catalog:focus,
.popular-goods-all-link:focus,
.popular-manufactures-all-link:focus,
.make-credit-request-link:hover,
.make-credit-request-link:focus,
.modal-feedback-send-button:hover,
.modal-feedback-send-button:focus {
  background-color: var(--slider-button-hover);
}
.slider-button-open-catalog:active,
.popular-goods-all-link:active,
.popular-manufactures-all-link:active,
.make-credit-request-link:active,
.modal-feedback-send-button:active {
  background-color: var(--slider-button-click);
}
/*popular goods*/
.popular-goods-header,
.popular-manufactures-header {
  background-color: var(--popular-goods-manufactures-background);
}
.popular-goods-heading,
.popular-manufactures-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--popular-goods-manufactures-font);
  font-size: 30px;
  line-height: 1em;
  padding: 29px 0 30px 28px;
}
/*popular-goods-n-manuf-slider*/

.popular-goods-item,
.popular-manufactures-item {
  background-color: var(--basic-white);
  border: 1px solid var(--goods-bg-border);
}
.popular-goods-item {
  position: relative;
}
.popular-goods-item.new-item::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url("../img/catalog-new-icon.svg") no-repeat;
  right: 0px;
  z-index: 2;
}
.popular-goods-item-description {
  font-size: 18px;
  line-height: 1.12;
  text-align: center;
  width: 185px;
  padding-bottom: 8px;
}
.popular-goods-item-old-price {
  color: var(--catalog-price-crossed);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  text-decoration: line-through;
  padding-bottom: 12px;
}

.popular-goods-item-price-link {
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: left 43px top 1px;
  width: 141px;
  height: 38px;
  color: var(--basic-white);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  margin-bottom: 11px;
  margin-top: auto;
  padding-left: 76px;
  padding-top: 11px;
}
.popular-goods-item-price-link:hover,
.popular-goods-item-price-link:focus {
  background-image: url("../img/red-button-hover.svg");
}
.popular-goods-item-price-link:active {
  background-image: url("../img/red-button-active.svg");
}
.popular-goods-bookmarks-button {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 84px;
  left: 40px;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--bookmarks-font);
  font-size: 14px;
  line-height: 1.28em;
  padding: 9px 31px 7px 30px;
}
.popular-goods-buy-button {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 36px;
  left: 40px;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--buy-button-bg);
  box-shadow: inset 0px -3px 0px var(--buy-button-bg-shadow);
  border-radius: 2px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
  padding: 8px 10px 8px 23px;
}
.popular-goods-item:hover,
.popular-manufactures-item-link:hover,
.popular-goods-item:focus,
.popular-manufactures-item-link:focus,
.contacts-map-link:hover,
.contacts-map-link:focus {
  box-sizing: content-box;
  box-shadow: 0px 4px 20px var(--popular-goods-n-manuf-shadow);
}
.popular-manufactures-item-link:active {
  opacity: 0.5;
}
.popular-goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-goods-image {
  height: 159px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
}
.popular-goods-image-bg {
  background-color: var(--basic-white);
  width: 100%;
  z-index: 1;
  position: relative;
}
.popular-goods-item-pic {
  position: relative;
  top: 45%;
  left: 45%;
  transform: translate(-45%,-40%);
}


.popular-goods-item:hover .popular-goods-image-bg {
  opacity: 0;
  z-index: -1;
  transition: opacity .3s
}
.popular-goods-item:hover .popular-goods-buy-button,
.popular-goods-item:hover .popular-goods-bookmarks-button {
  z-index: 3;
}
.popular-goods-buy-button:hover,
.popular-goods-buy-button:focus {
  background-color: var(--buy-button-bg-hover);
}
.popular-goods-buy-button:focus ~ .popular-goods-image-bg {
  opacity: 0;
  z-index: -1;
  transition: opacity .3s
}
.popular-goods-buy-button:focus,
.popular-goods-buy-button:focus + .popular-goods-bookmarks-button {
  z-index: 3;
}
.popular-goods-buy-button:active {
  background-color: var(--buy-button-bg-click);
}

.popular-goods-bookmarks-button:hover,
.popular-goods-bookmarks-button:focus {
  border-color: var(--bookmarks-font);
}
.popular-goods-bookmarks-button:focus ~ .popular-goods-image-bg {
  z-index: -1;
  opacity: 0;
  transition: opacity .3s
}
.popular-goods-bookmarks-button:focus,
.popular-goods-bookmarks-button:focus + .popular-goods-buy-button {
  z-index: 3;
}
.popular-goods-bookmarks-button:active {
  border-color: var(--bookmarks-font05);
  color: var(--bookmarks-font05);
}
.popular-goods-buy-button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
/*services*/
.main-services,
.few-words-about {
  background-color: var(--services-background);
}
.services-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--popular-goods-manufactures-font);
  font-size: 30px;
  line-height: 1em;
  padding: 64px 0 25px 0;
}
.services-description {
  padding-bottom: 72px;
}

.services-slider-item {
  height: 100%;
}

.services-slider-item.delivery-slide {
   background: url("../img/logistics-car.svg") no-repeat top 21px right 1px;
 }
 .services-slider-item.guarantee-slide {
    background: url("../img/guarantee.png") no-repeat top 21px right 1px;
  }
  .services-slider-item.credit-slide {
     background: url("../img/credit-slide.png") no-repeat top 21px right 1px;
   }
.services-slider-item-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--slider-item-heading-font);
  font-size: 30px;
  line-height: 1em;
  padding-bottom: 30px;
  margin-top: -3px;
  text-transform: uppercase;
}
.services-slider-item-description {
  width: 410px;
}
.services-slider-item-description.credit-description {
  padding-bottom: 36px;
}
.services-list {
  margin-bottom: 97px;
  position: relative;
}
.services-list::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  right: 0;
  top: -50px;
  background-image: url("../img/slider-shadow-features.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.services-item {
  background-color: var(--slider-menu-bg-nonactive);
  box-shadow:
    0px 1px 0px var(--services-item-shadow1),
    inset 0px 1px 0px var(--services-item-shadow2);
  padding-bottom: 1px;
  width: 240px;
}
.services-item-active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.services-button {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.428em;
  cursor: pointer;
  padding: 13.5px 0 17.5px 22px;
  display: flex;
  width: 100%;

}
.services-button-active {
  color: var(--services-slider-active-item);
}
.services-button:hover:not(.services-button-active),
.services-button:focus:not(.services-button-active) {
  background-color: var(--slider-menu-bg-nonactive-hover);
}

/*about*/
.about-heading,
.contacts-heading,
.few-words-about-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
  padding-bottom: 24px;
}

.few-words-about-heading {
  padding-top: 65px;
}
.about-description-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33em;
  padding-bottom: 9px;
}
.about-description-content {
  padding-left: 37px;
  position: relative;
}
.about-description-content::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 11px;
  background: url("../img/logistics-bullet-point-icon.svg")
              no-repeat 0 0;
}
.about-description-item:first-child .about-description-content::before {
  top: 14px;
}
.about-description-item {
  position: relative;
  padding-bottom: 12px;
}

.about-description {
  width: 460px;
  padding-bottom: 26px;
}
.about-description:last-of-type {
  padding-bottom: 1px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts-description {
  width: 180px;
  padding-bottom: 32px;
}
.contacts-map-link {
  margin-bottom: 25px;
  align-self: flex-end;
  display: block;
  height: 158px;
}
.about-company-link,
.contact-us-link {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--slider-button-bg);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.28em;
  text-align: center;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.contact-us-link {
  align-self: flex-end;
  width: 300px;
}
.about-company-link:hover,
.contact-us-link:hover,
.about-company-link:focus,
.contact-us-link:focus {
  background-color: var(--slider-button-hover);
}
.about-company-link:active,
.contact-us-link:active {
  background-color: var(--slider-button-click);
}

/*footer*/
.footer-first-bar {
  background-color: var(--footer-background1);

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33em;
}
.footer-second-bar {
  background-color: var(--footer-background2);
}
.footer-about-company {
  padding-bottom: 54px;
}
.footer-contacts {
  padding-left: 3px;
}
.footer-contacts {
  color: var(--footer-address-font);
  margin-top: 16px;
  width: 321px;
}
.footer-contacts-telephone-link {
  color: var(--footer-address-font);
  display: block;
  padding-left: 3px;
  padding-top: 2px;
}
.footer-navigation-first-row-link {
  color: var(--footer-main-font);
}
.footer-navigation-second-row-link {
  color: var(--footer-menu-secondrow-font);
}
.footer-contacts-telephone-link:hover,
.footer-navigation-first-row-link:hover,
.footer-contacts-telephone-link:focus,
.footer-navigation-first-row-link:focus {
  text-decoration: underline;
}
.footer-navigation-second-row-link:hover,
.footer-navigation-second-row-link:focus {
  text-decoration: underline;
}
.footer-contacts-telephone-link:active,
.footer-navigation-first-row-link:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-navigation-second-row-link:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-second-bar {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125em;
  color: var(--basic-white);
}
.footer-social-networks {
  align-self: center;
}
.social-networks-list {
  display: flex;
  grid-gap: 1px;
  align-items: center;
  padding-left: 69px;
}
.social-networks-item {
  padding-top: 8px;
  width: 44px;
}
.social-networks-link {
  display: block;
  height: 44px;
}
.social-networks-link.vk-logo {
  background: url("../img/vk-icon.svg")
              no-repeat 0 0;
}
.social-networks-link.vk-logo:hover,
.social-networks-link.vk-logo:focus,
.social-networks-link.vk-logo:active {
  background: url("../img/vk-icon-hover-active.svg");
}
.social-networks-link.fb-logo {
  background: url("../img/facebook-icon.svg")
              no-repeat 0 0;
}
.social-networks-link.fb-logo:hover,
.social-networks-link.fb-logo:focus,
.social-networks-link.fb-logo:active {
  background: url("../img/facebook-icon-hover-active.svg");
}
.social-networks-link.inst-logo {
  background: url("../img/instagram-icon.svg")
              no-repeat 0 0;
}
.social-networks-link.inst-logo:hover,
.social-networks-link.inst-logo:focus,
.social-networks-link.inst-logo:active {
  background: url("../img/instagram-icon-hover-active.svg");
}
.footer-copyright {
  padding: 36px 0 34px 0;
  width: 240px;
}
.footer-feedback-n-maidby {
  display: flex;
  grid-gap: 51px;
  padding: 35px 0 35px 0;
}
.footer-feedback-address,
.footer-developedby-link {
  color: var(--footer-menu-secondrow-font);
  font-style: normal;
}
.footer-feedback-address:hover,
.footer-developedby-link:hover,
.footer-feedback-address:focus,
.footer-developedby-link:focus {
  text-decoration: underline;
}
.footer-feedback-address:active,
.footer-developedby-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/*catalog*/
.catalog-nav-breadcrumbs-list {
  padding: 22px 0 20px 0px;
}
.catalog-nav-breadcrumbs-item {
  font-size: 13px;
  line-height: 1.38em;
}
.breadcrumbs-link {
  color: var(--basic-black);
  font-size: 13px;
}
.breadcrumbs-link:hover:not(.disabled-link-in-navigation),
.breadcrumbs-link:focus:not(.disabled-link-in-navigation) {
  text-decoration: underline;
}
.breadcrumbs-link:active:not(.disabled-link-in-navigation) {
  opacity: 0.5;
  text-decoration: none;
}
.catalog-main-section {
  background-color: var(--header-background);
}
.section-heading {
  color: var(--bookmarks-font);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
  padding: 30px 0 30px 29px;
  margin: 0;
}

/*filters*/
.catalog-window-sortings {
  background-color: var(--catalog-filters-bg);
}
.filters-heading,
.sorting-heading {
  background-color: var(--catalog-filters-bg);
  font-size: 13px;
  line-height: 1.38em;
  font-weight: 400;
  padding: 10px 0 11px 18px;
}
.sorting-heading {
  padding-left: 20px;
}
.filter-type-heading {
  font-size: 17px;
  line-height: 1.76em;
  font-weight: 700;
  text-transform: uppercase;
}
.filter-type-heading.for-price {
  padding: 13px 0 12px 0;
}
.filter-type-heading.for-manufactures {
  padding: 16px 0 18px 0;
}
.filter-type-heading.for-power-supply {
  padding: 18px 0 24px 0;
}
.filter-show-button {
  display: block;
  text-align: center;
  width: 100%;
  background-color: var(--basic-white);
  border: none;
  font-size: 13px;
  line-height: 1.38em;
  cursor: pointer;
  border: 1px solid var(--catalog-filter-show-button-shadow);
  padding: 10px 0 10px 0;
}
.filter-show-button:hover,
.filter-show-button:focus {
  border: 1px solid var(--catalog-bg-item-hover);
}
.filter-show-button:active {
  border: 1px solid var(--basic-red);
}

.sorting-item .sorting-item-link {
  color: var(--basic-black-transparent03);
  font-size: 13px;
  line-height: 1.38em;
  border-bottom: 1px dotted var(--basic-red);

}
.active-sorting .sorting-item-link {
  color: var(--basic-red);
  border: none;
}
.sorting-item .sorting-item-link:hover,
.sorting-item .sorting-item-link:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sorting-item .sorting-item-link:active {
  color: var(--basic-red);
  border-bottom: none;
}
.sorting-button-up,
.sorting-button-down {
  cursor: pointer;
  border: none;
  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}
.sorting-button-up {
  transform: rotate(180deg);
}
.sorting-button-up.active-sorting-button {
  background: url("../img/icon-down-dir-active.svg")
}
.sorting-button-down.active-sorting-button {
  background: url("../img/icon-down-dir-active.svg")
}
.sorting-button-down:hover,
.sorting-button-down:focus,
.sorting-button-up:hover,
.sorting-button-up:focus {
  background: url("../img/icon-down-dir-hover.svg");
}

.sorting-button-up:active,
.sorting-button-down:active {
  background: url("../img/icon-down-dir-active.svg")
}

.page-navigation-item-link {
  display: flex;
  background-color: var(--basic-white);
  font-size: 13px;
  line-height: 1.38em;
  cursor: pointer;
  border: 1px solid var(--catalog-filter-show-button-shadow);
  box-sizing: border-box;
  border-radius: 2px;
}
.page-navigation-item-link {
  display: flex;
  color: var(--basic-black);
  padding: 10px 15px;
}
.page-navigation-item-link.next-page-link {
  padding: 10px 31px;
}
.page-navigation-item-link:hover:not(.page-navigation-item-active),
.page-navigation-item-link:focus:not(.page-navigation-item-active) {
  border: 1px solid var(--catalog-bg-item-hover);
}
.page-navigation-item-link:active:not(.page-navigation-item-active) {
  border: 1px solid var(--basic-red);
}
.page-navigation-item-active {
  background-color: var(--basic-red);
}
.page-navigation-item-link.page-navigation-item-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.few-words-about-content {
  padding-bottom: 70px;
}
/* Модальные окна */
.modal {
  /*position: fixed;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 4;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  border-top:7px solid var(--basic-red);
}

.modal-map {
  width: 943px;
  height: 442px;
}
.modal-feedback {
  width: 620px;
  background-color: var(--basic-white);
  max-height: 423px;
  display: grid;
  grid-template-rows: 1fr min-content;
}
.modal-added-goods {
  width: 620px;
  height: 275px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: 1fr min-content;
}
.modal-close-button {
  position: absolute;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
}
.modal-close-button:hover,
.modal-close-button:focus {
  transition: 0.5s;
  transform: rotate(90deg);
  background-image: url("../img/icon-close.svg");
}
.modal-close-button:active {
  background-image: url("../img/icon-close-active.svg");
}
.modal-close-button.for-map {
  top: 18px;
  right: 11px;
}
.modal-close-button.for-feedback {
  top: 21px;
  right: 11px;
}
.modal-close-button.for-added-goods {
  top: 21px;
  right: 11px;
}
.frame-for-map {
  border: none;
}

.feedback-form {
  width: 460px;
  margin: 39px auto 37px auto;
  display: flex;
  grid-row-gap: 13px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedback-text-block {
  display: flex;
  flex-direction: column;
}
.modal-label-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33em;
  padding-bottom: 11px;
}
.name-feedback-input,
.email-feedback-input,
.textfield-feedback-input {
  line-height: 1.85em;
  width: 220px;
  border: 2px solid var(--catalog-bg-item-hover);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px 0 5px 12px;
}
.textfield-feedback-input {
  width: 460px;
  height: 114px;
  resize: none;
}
.name-feedback-input::placeholder,
.email-feedback-input::placeholder,
.textfield-feedback-input::placeholder {
  color: var(--catalog-bg-item-click);
}
.modal-feedback-footer {
  padding: 37px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--modal-feedback-footer-bg);
}
.modal-added-goods-footer {
  padding: 37px 0;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  background-color: var(--modal-feedback-footer-bg);
}
.modal-added-goods-description {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  font-size: 24px;
  line-height: 1.25em;
  text-align: center;
  position: relative;
  padding: 66px 0 67px 0;
}
.modal-added-goods-description::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: 48px;
  left: 81px;
  background: url("../img/icon-checked-goods.svg") no-repeat 0 0;
}
.modal-added-goods-gotocart-button,
.modal-added-goods-close-button {
  cursor: pointer;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.28em;
  text-align: center;
  padding: 11px 0px 9px 0px;
  text-transform: uppercase;
  width: 192px;
}

.modal-added-goods-gotocart-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.modal-added-goods-gotocart-button:hover,
.modal-added-goods-gotocart-button:focus {
  background-color: var(--slider-button-hover);
}

.modal-added-goods-gotocart-button:active {
  background-color: var(--slider-button-click);
}
.modal-added-goods-close-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.modal-added-goods-close-button:hover,
.modal-added-goods-close-button:focus {
  color: var(--basic-red);
}

.modal-added-goods-close-button:active {
  color: var(--account-buttons-click);
}
.visually-hidden-elements {
  display: none;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Фильтры каталога*/
.filter-items {
  border: none;
  margin: 0;
  padding: 0;
}
.range-controls {
  height: 41px;
  border-radius: 5px;
  background-color: var(--catalog-filters-bg);
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;
  position: relative;
}
.range-controls .scale {
  height: 2px;
  background: var(--range-input-scale);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--range-input-scale-active);
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-input-toggle-bg);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-input-toggle-shadow);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--goods-bg-border);
}
.price-controls-label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.125em;
}
.range-decorative-element {
  font-size: 16px;
  line-height: 1.125em;
  padding-top: 8px;
}
.price-controls-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--catalog-filters-bg);
  width: 75px;
  padding: 8px 10px 12px 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  -moz-appearance: textfield; /* Firefox */
}
.price-controls-input::-webkit-outer-spin-button,
.price-controls-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.filter-by-manufactures {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--goods-bg-border);
}
.filter-by-manufactures-label,
.filter-by-power-supply-label {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.27em;
  padding-left: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.manufactures-checkbox-input,
.power-supply-radio-input {
  position: absolute;
  appearance: none;
}
.manufactures-span-checkbox {
  position: absolute;
  margin-left: -35px;
  width: 23px;
  height: 23px;
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}
.manufactures-checkbox-input:checked + .manufactures-span-checkbox {
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}
.manufactures-checkbox-input:hover + .manufactures-span-checkbox,
.manufactures-checkbox-input:focus + .manufactures-span-checkbox {
  background: url("../img/checkbox-off-hover.svg") no-repeat 0 0;
}
.manufactures-checkbox-input:checked:hover + .manufactures-span-checkbox,
.manufactures-checkbox-input:checked:focus + .manufactures-span-checkbox {
  background: url("../img/checkbox-on-hover.svg") no-repeat 0 0;
}
.manufactures-checkbox-input:disabled + .manufactures-span-checkbox {
  background: url("../img/checkbox-off-disabled.svg") no-repeat 0 0;
}
.manufactures-checkbox-input:checked:disabled + .manufactures-span-checkbox {
  background: url("../img/checkbox-on-disabled.svg") no-repeat 0 0;
}
.filter-by-power-supply {
  display: flex;
  flex-direction: column;
  grid-gap: 22px;
  padding-bottom: 38px;
}
.power-supply-span-radio {
  position: absolute;
  margin-left: -35px;
  width: 25px;
  height: 25px;
  content: "";
  background: url("../img/radio-off.svg") no-repeat 0 0;
}
.power-supply-radio-input:checked + .power-supply-span-radio {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}
.power-supply-radio-input:hover + .power-supply-span-radio,
.power-supply-radio-input:focus + .power-supply-span-radio {
  background: url("../img/radio-off-hover.svg") no-repeat 0 0;
}
.power-supply-radio-input:checked:hover + .power-supply-span-radio,
.power-supply-radio-input:checked:focus + .power-supply-span-radio {
  background: url("../img/radio-on-hover.svg") no-repeat 0 0;
}

.power-supply-radio-input:disabled + .power-supply-span-radio {
  background: url("../img/radio-off-disabled.svg") no-repeat 0 0;
}
.power-supply-radio-input:checked:disabled + .power-supply-span-radio {
  background: url("../img/radio-on-disabled.svg") no-repeat 0 0;
}
.power-supply-span-radio {
  background: url("../img/radio-off.svg") no-repeat 0 0;
}
.name-feedback-input:focus,
.name-feedback-input:hover,
.email-feedback-input:focus,
.email-feedback-input:hover,
.textfield-feedback-input:focus,
.textfield-feedback-input:hover {
  border: 2px solid var(--bookmarks-bg-hover);
}
.name-feedback-input:invalid,
.email-feedback-input:invalid {
  box-shadow: none;
  border: 2px solid var(--basic-red);
}
/* Animations */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes pulse-telephone {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--telephone-bg07);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px var(--telephone-bg0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--telephone-bg0);
    }
}
